.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.buttons-right {
  display: flex;
  flex-direction: row-reverse;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.responsiveIMG {
  width: 100%;
  max-width: 400px;
  height: auto;
}
