<h1 class="center-text">Welcome to NZBA Accounting System</h1>

<p class="center-text">
  To start using the accounting system <a [routerLink]="['/authentication/login']">login</a> or
  <a [routerLink]="['/authentication/register']">register</a>
</p>

<h2 class="center-text">Features:</h2>
<mat-grid-list cols="4" rowHeight="450px">
  <mat-grid-tile
    ><mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Manage Organisation</mat-card-title>
      </mat-card-header>
      <svg
        class="bd-placeholder-img card-img-top"
        width="100%"
        height="225"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: Thumbnail"
        preserveAspectRatio="xMidYMid slice"
        focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#55595c"></rect>
        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
      </svg>
      <mat-card-content>
        <p>Mangage your organisations details</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Manage Customers</mat-card-title>
      </mat-card-header>
      <svg
        class="bd-placeholder-img card-img-top"
        width="100%"
        height="225"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: Thumbnail"
        preserveAspectRatio="xMidYMid slice"
        focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#55595c"></rect>
        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
      </svg>
      <mat-card-content>
        <p>Mangage your customers details</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Manage Invoices</mat-card-title>
      </mat-card-header>
      <svg
        class="bd-placeholder-img card-img-top"
        width="100%"
        height="225"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: Thumbnail"
        preserveAspectRatio="xMidYMid slice"
        focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#55595c"></rect>
        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
      </svg>
      <mat-card-content>
        <p>Mangage and create invoices</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>and other Features</mat-card-title>
      </mat-card-header>
      <svg
        class="bd-placeholder-img card-img-top"
        width="100%"
        height="225"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: Thumbnail"
        preserveAspectRatio="xMidYMid slice"
        focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#55595c"></rect>
        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
      </svg>
      <mat-card-content>
        <p>and so much more login or register...</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
